body {
    background-color: #F8F4E1;
}

.Login-Page-Container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Login-Page-Content {
    height: 40%;
    width: 20%;
    padding: 3rem 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid #F1F1F1;
    border-radius: 10px;
    background-color: #AF8F6F;
    color: white;
}

.Login-Page-Title {
    padding-bottom: 1rem;
}

.Login-Title {
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
}

.Login-Input-Txt {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0.5em 0;
    color: white;
}

#Txt_Username, #Txt_Password {
    height: 4vh;
    border: 1px solid #F1F1F1;
    border-radius: 5px;
    padding: 2px 4px;
    margin-top: 2px;
}

.Login-Input-Remember {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 0.5em 0;
    color: white;
}

.Login-Input {
    margin: 0.5em 0;
}

.Login-Input-Button {
    width: 100%;
    margin: 0.5em 0;
}

#Btn_Login {
    height: 4vh;
    width: 100%;
    font-weight: 600;
    border-radius: 5px;
    background-color: #74512D;
    color: #F8F4E1;
    border: 2px solid #74512D;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

    #Btn_Login:hover {
        background-color: #543310;
        color: #F8F4E1;
    }

.Login-To-Register {
    margin: 0.5em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#HyperLink {
    text-decoration: none;
    color: #74512D;
    font-weight: 600;
}

.Login_Error {
    color: red;
}

.Login-Success {
    color: green;
}
